*{
	font-family: Poppins;
}
body{
	background-color: rgba(255, 255, 255, 1);
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:2187px;
	position:absolute;

}



.e15_4 { 
	width:1921px;
	height:616px;
	position:absolute;
	left:1px;
	top:165px;
	background-image:url(images/1fd6e84761fdffef47a68f772d02b82e2a983820_banner_campanhas_cao_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e7_17 { 
	background-color:rgba(242.00000077486038, 232.00000137090683, 207.00000286102295, 1);
	width:1920px;
	height:251px;
	position:absolute;
	left:0px;
	top:1715px;
}
.e8_21{
	background-color: rgba(74, 74, 74, 1);
	width: 160px;
	height: 40px;
	position: absolute;
	left: 600px;
    top: 70px;
	border-radius: 30px;
}
.e8_22{
	color: rgba(255, 255, 255, 1);
	font-size: 20px;
	font-weight: 500;
	width: 160px;
	position: absolute;
	left: 620px;
    top: 76px;
}
.e8_28 { 
	background-color:rgba(6.000000117346644, 75.00000312924385, 181.0000044107437, 1);
	width:1919px;
	height:174px;
	position:absolute;
	left:1px;
	top:845px;
}
.e46_22 { 
	width:580px;
	height:129px;
	position:absolute;
	left:588px;
	top:1769px;
}
.e7_18 { 
	background-color:rgba(255, 255, 255, 1);
	width:578px;
	height:76px;
	position:absolute;
	left:0px;
	top:53px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e7_19 { 
	color:rgba(74.0000031888485, 74.0000031888485, 74.0000031888485, 0.800000011920929);
	width:62px;
	height:27px;
	position:absolute;
	left:37px;
	top:81px;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e8_20 { 
	color:rgba(74.0000031888485, 74.0000031888485, 74.0000031888485, 1);
	width:575px;
	height:27px;
	position:absolute;
	left:5px;
	top:0px;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e8_24 { 
	width:397px;
	height:397px;
	position:absolute;
	left:63px;
	top:1143px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e8_24 { 
	border:3px solid rgba(74.0000031888485, 74.0000031888485, 74.0000031888485, 1);
}
.e8_26 { 
	width:397px;
	height:397px;
	position:absolute;
	left:529px;
	top:1143px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e8_26 { 
	border:3px solid rgba(74.0000031888485, 74.0000031888485, 74.0000031888485, 1);
}
.e8_27 { 
	width:397px;
	height:397px;
	position:absolute;
	left:995px;
	top:1143px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e8_27 { 
	border:3px solid rgba(74.0000031888485, 74.0000031888485, 74.0000031888485, 1);
}
.e8_29 { 
	width:370px;
	height:370px;
	position:absolute;
	left:76px;
	top:1157px;
	background-image:url(images/casaco_impermeavel_urban_para_cao_duvo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_30 { 
	width:312px;
	height:312px;
	position:absolute;
	left:572px;
	top:1157px;
	background-image:url(images/casaco_minnie_style_para_cao_disney_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_31 { 
	width:326px;
	height:326px;
	position:absolute;
	left:1034px;
	top:1157px;
	background-image:url(images/sweat_batman_para_cao_warner_bros_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e10_60 { 
	color:rgba(255, 255, 255, 1);
	width:518px;
	height:54px;
	position:absolute;
	left:690px;
	top:904px;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e11_2 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:45px;
	position:absolute;
	left:456px;
	top:911px;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e12_5 { 
	color:rgba(255, 255, 255, 1);
	width:45px;
	height:45px;
	position:absolute;
	left:525px;
	top:911px;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e12_6 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:45px;
	position:absolute;
	left:1351px;
	top:910px;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e12_7 { 
	color:rgba(255, 255, 255, 1);
	width:45px;
	height:45px;
	position:absolute;
	left:1420px;
	top:910px;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e46_13 { 
	width:397px;
	height:397px;
	position:absolute;
	left:1461px;
	top:1143px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e46_13 { 
	border:3px solid rgba(74.0000031888485, 74.0000031888485, 74.0000031888485, 1);
}
.e46_14 { 
	width:370px;
	height:370px;
	position:absolute;
	left:1474px;
	top:1157px;
	background-image:url(images/casaco_impermeavel_urban_para_cao_duvo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_10 { 
	color:rgba(36.12499974668026, 36.12499974668026, 36.12499974668026, 1);
	width:118px;
	height:41px;
	position:absolute;
	left:205px;
	top:1486px;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e12_11 { 
	color:rgba(36.12499974668026, 36.12499974668026, 36.12499974668026, 1);
	width:118px;
	height:41px;
	position:absolute;
	left:678px;
	top:1486px;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e12_12 { 
	color:rgba(36.12499974668026, 36.12499974668026, 36.12499974668026, 1);
	width:118px;
	height:41px;
	position:absolute;
	right:200px;
	top:1486px;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e13_13 { 
	background-color:rgba(6.000000117346644, 75.00000312924385, 181.0000044107437, 1);
	width:193px;
	height:49px;
	position:absolute;
	left:1665px;
	top:1063px;
	border-top-left-radius:1030px;
	border-top-right-radius:1030px;
	border-bottom-left-radius:1030px;
	border-bottom-right-radius:1030px;
}
.e17_2 { 
	background-color:rgba(6.000000117346644, 75.00000312924385, 181.0000044107437, 1);
	width:345px;
	height:49px;
	position:absolute;
	left:63px;
	top:1063px;
	border-top-left-radius:1030px;
	border-top-right-radius:1030px;
	border-bottom-left-radius:1030px;
	border-bottom-right-radius:1030px;
}
.e13_14 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:36px;
	position:absolute;
	left:1707px;
	top:1070px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e17_3 { 
	color:rgba(255, 255, 255, 1);
	width:278px;
	height:36px;
	position:absolute;
	left:96px;
	top:1070px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e18_5 { 
	background-color:rgba(167.89473563432693, 255, 45.68750202655792, 1);
	width:1921px;
	height:220px;
	position:absolute;
	left:-1px;
	top:1965px;
}
.e18_9 { 
	color:rgba(74.0000031888485, 74.0000031888485, 74.0000031888485, 1);
	width:120px;
	height:105px;
	position:absolute;
	left:135px;
	top:2059px;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e18_12 { 
	color:rgba(74.0000031888485, 74.0000031888485, 74.0000031888485, 1);
	width:245px;
	height:105px;
	position:absolute;
	left:385px;
	top:2063px;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e19_14 { 
	color:rgba(74.0000031888485, 74.0000031888485, 74.0000031888485, 1);
	width:225px;
	height:105px;
	position:absolute;
	left:686px;
	top:2063px;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e20_15 { 
	width:45px;
	height:45px;
	position:absolute;
	left:1485px;
	top:2060px;
}
.e20_16 { 
	background-image:url(images/icons8-facebook-50.png);
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}
.e20_21 { 
	width:45px;
	height:45px;
	position:absolute;
	left:1590px;
	top:2060px;
}
.e20_22 { 
	background-image:url(images/icons8-instagram-50.png);
	width:50px;
	height:50px;
	position:absolute;
	left:5.6843418860808015e-14px;
	top:0px;
}
.e21_23 { 
	width:53px;
	height:53px;
	position:absolute;
	left:1686px;
	top:2056px;
}
.e21_24 { 
	width:45.22650909423828px;
	height:45.22650146484375px;
	position:absolute;
	left:3.8866660594940186px;
	top:3.8866636753082275px;
}
.e21_25 { 
	background-image:url(images/icons8-twitter-50.png);
	height: 50px;
	width: 50px;
	position:absolute;
	left:0px;
	top:0px;
}
.e21_27 { 
	background-color:rgba(74.0000031888485, 74.0000031888485, 74.0000031888485, 1);
	width:5.427192687988281px;
	height:5.42710018157959px;
	position:absolute;
	left:31.970684051513672px;
	top:7.828719139099121px;
}
.e6_15 { 
	width:59px;
	height:59px;
	position:absolute;
	left:1830px;
	top:444px;
	background-image:url(images/arrow_right.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e7_16 { 
	transform: rotate(-179.99999499104388deg);
	width:59px;
	height:59px;
	position:absolute;
	left:89px;
	top:444px;
	background-image:url(images/arrow_right.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e18_8 { 
	color:rgba(74.0000031888485, 74.0000031888485, 74.0000031888485, 1);
	width:329px;
	height:105px;
	position:absolute;
	left:30px;
	top:1985px;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e118_2 { 
	color:rgba(74.0000031888485, 74.0000031888485, 74.0000031888485, 1);
	width:320px;
	height:105px;
	position:absolute;
	left:321px;
	top:1985px;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e118_3 { 
	color:rgba(74.0000031888485, 74.0000031888485, 74.0000031888485, 1);
	width:320px;
	height:105px;
	position:absolute;
	left:599px;
	top:1985px;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e127_37 { 
	color:rgba(36.12499974668026, 36.12499974668026, 36.12499974668026, 1);
	width:118px;
	height:41px;
	position:absolute;
	left:1149px;
	top:1486px;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e126_7 { 
	transform: rotate(180deg);
	width:517px;
	height:527px;
	position:absolute;
	left:1917px;
	top:1451px;
	background-image:url(images/illustration_pack_pet_shop__1__6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e127_39 { 
	width:517px;
	height:527px;
	position:absolute;
	left:-1px;
	top:1448px;
	background-image:url(images/illustration_pack_pet_shop__1__4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e127_40 { 
	width:517px;
	height:527px;
	position:absolute;
	right:-1px;
	top:1448px;
	background-image:url(images/illustration_pack_pet_shop__1__4.png);
  	transform: scaleX(-1);
	background-repeat:no-repeat;
	background-size:cover;
}
.e149_281 { 
	width:1920px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}

.navBar { 

	background-color:rgba(188.0000039935112, 255, 94.0000019967556, 1);
	width:1920px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;


}


.ei149_281_148_146 { 
	width:43.47457504272461px;
	height:45px;
	position:absolute;
	left:1771px;
	top:35px;
	background-image:url(images/vista_lateral_vazia_do_carrinho_de_compras_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei149_281_130_1989 { 
	width:46.07143020629883px;
	height:45px;
	position:absolute;
	left:1844px;
	top:35px;
	background-image:url(images/account__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei149_281_130_1990 { 
	width:45px;
	height:45px;
	position:absolute;
	left:1697px;
	top:35px;
	background-image:url(images/search_interface_symbol_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

#logo { 
	display: inline;

	position:absolute;

}

.logo_txt { 

	color:rgb(74, 74, 74);
	width:182px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}

.logo_img { 
	width:50px;
	height:52.77777862548828px;
	position:absolute;
	left:34px;
	top:24px;
	background-image:url(images/pngwing_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.ei149_281_143_30 { 
	color:rgba(74.0000031888485, 74.0000031888485, 74.0000031888485, 1);
	width:89px;
	height:36px;
	position:absolute;
	left:650px;
	top:39px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.ei149_281_143_31 { 
	color:rgba(74.0000031888485, 74.0000031888485, 74.0000031888485, 1);
	width:74px;
	height:28px;
	position:absolute;
	left:1170px;
	top:43px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.ei149_281_143_32 { 
	color:rgba(74.0000031888485, 74.0000031888485, 74.0000031888485, 1);
	width:103px;
	height:36px;
	position:absolute;
	left:812px;
	top:39px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.ei149_281_143_33 { 
	color:rgba(74.0000031888485, 74.0000031888485, 74.0000031888485, 1);
	width:109px;
	height:36px;
	position:absolute;
	left:988px;
	top:39px;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e149_302 { 
	width:222px;
	height:60px;
	position:absolute;
	left:146px;
	top:1557px;
}
.ei149_302_149_302 { 
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei149_302_149_302_118_6 { 
	border-radius:500px;
	background-color:rgba(188.0000039935112, 255, 94.0000019967556, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei149_302_149_302_10_56 { 
	width:40px;
	height:40px;
	position:absolute;
	left:10px;
	top:10px;
	background-image:url(images/view_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei149_302_149_303 { 
	width:60px;
	height:60px;
	position:absolute;
	left:80px;
	top:0px;
}
.ei149_302_149_303_10_54 { 
	border-radius:500px;
	background-color:rgba(188.0000039935112, 255, 94.0000019967556, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei149_302_149_303_10_57 { 
	width:34px;
	height:34px;
	position:absolute;
	left:13px;
	top:13px;
	background-image:url(images/heart_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei149_302_149_304 { 
	width:60px;
	height:60px;
	position:absolute;
	left:162px;
	top:0px;
}
.ei149_302_149_304_118_5 { 
	border-radius:500px;
	background-color:rgba(188.0000039935112, 255, 94.0000019967556, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei149_302_149_304_10_58 { 
	width:37px;
	height:37px;
	position:absolute;
	left:10px;
	top:11px;
	background-image:url(images/shopping_cart_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e149_312 { 
	width:222px;
	height:60px;
	position:absolute;
	left:618px;
	top:1557px;
}
.ei149_312_149_302 { 
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei149_312_149_302_118_6 { 
	border-radius:500px;
	background-color:rgba(188.0000039935112, 255, 94.0000019967556, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei149_312_149_302_10_56 { 
	width:40px;
	height:40px;
	position:absolute;
	left:10px;
	top:10px;
	background-image:url(images/view_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei149_312_149_303 { 
	width:60px;
	height:60px;
	position:absolute;
	left:80px;
	top:0px;
}
.ei149_312_149_303_10_54 { 
	border-radius:500px;
	background-color:rgba(188.0000039935112, 255, 94.0000019967556, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei149_312_149_303_10_57 { 
	width:34px;
	height:34px;
	position:absolute;
	left:13px;
	top:13px;
	background-image:url(images/heart_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei149_312_149_304 { 
	width:60px;
	height:60px;
	position:absolute;
	left:162px;
	top:0px;
}
.ei149_312_149_304_118_5 { 
	border-radius:500px;
	background-color:rgba(188.0000039935112, 255, 94.0000019967556, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei149_312_149_304_10_58 { 
	width:37px;
	height:37px;
	position:absolute;
	left:10px;
	top:11px;
	background-image:url(images/shopping_cart_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e149_322 { 
	width:222px;
	height:60px;
	position:absolute;
	right:618px;
	top:1557px;
}
.ei149_322_149_302 { 
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei149_322_149_302_118_6 { 
	border-radius:500px;
	background-color:rgba(188.0000039935112, 255, 94.0000019967556, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei149_322_149_302_10_56 { 
	width:40px;
	height:40px;
	position:absolute;
	left:10px;
	top:10px;
	background-image:url(images/view_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei149_322_149_303 { 
	width:60px;
	height:60px;
	position:absolute;
	left:80px;
	top:0px;
}
.ei149_322_149_303_10_54 { 
	border-radius:500px;
	background-color:rgba(188.0000039935112, 255, 94.0000019967556, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei149_322_149_303_10_57 { 
	width:34px;
	height:34px;
	position:absolute;
	left:13px;
	top:13px;
	background-image:url(images/heart_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei149_322_149_304 { 
	width:60px;
	height:60px;
	position:absolute;
	left:162px;
	top:0px;
}
.ei149_322_149_304_118_5 { 
	border-radius:500px;
	background-color:rgba(188.0000039935112, 255, 94.0000019967556, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei149_322_149_304_10_58 { 
	width:37px;
	height:37px;
	position:absolute;
	left:10px;
	top:11px;
	background-image:url(images/shopping_cart_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e149_332 { 
	width:222px;
	height:60px;
	position:absolute;
	right:146px;
	top:1557px;
}
.ei149_332_149_302 { 
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei149_332_149_302_118_6 { 
	border-radius:500px;
	background-color:rgba(188.0000039935112, 255, 94.0000019967556, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei149_332_149_302_10_56 { 
	width:40px;
	height:40px;
	position:absolute;
	left:10px;
	top:10px;
	background-image:url(images/view_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei149_332_149_303 { 
	width:60px;
	height:60px;
	position:absolute;
	left:80px;
	top:0px;
}
.ei149_332_149_303_10_54 { 
	border-radius:500px;
	background-color:rgba(188.0000039935112, 255, 94.0000019967556, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei149_332_149_303_10_57 { 
	width:34px;
	height:34px;
	position:absolute;
	left:13px;
	top:13px;
	background-image:url(images/heart_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei149_332_149_304 { 
	width:60px;
	height:60px;
	position:absolute;
	left:162px;
	top:0px;
}
.ei149_332_149_304_118_5 { 
	border-radius:500px;
	background-color:rgba(188.0000039935112, 255, 94.0000019967556, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei149_332_149_304_10_58 { 
	width:37px;
	height:37px;
	position:absolute;
	left:10px;
	top:11px;
	background-image:url(images/shopping_cart_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}