:root{
	--largura-sections: 1510px;
	--verde-destaque: rgb(168, 255, 46);

	/* var(verde-destaque); */
}

*{
	font-family: Poppins;
	
}
body{
	background-color: white;
	position: absolute;

	padding: 0px;
	margin: 0px;

	/* border: 1px solid red; */
}


/* ================= Nav Bar ================ */
nav{
	border-radius: 5px 5px 5px 5px;
	color: rgba(74, 74, 74, 1);

	display: flex;
	flex-direction: row;
	justify-content: space-around;

	background-color: var(--verde-destaque);
	
	width: var(--largura-sections);
	height:100px;

}
#categories{
	display: flex;
	flex-direction: row;

	/* centraliza horizontalmente */
	align-items: center; 
    /* cetraliza verticalmente */
	justify-content: space-evenly;  

	font-size: 20px;
	color: rgb(46, 46, 46);

	width:500px;
}
#logo{
	display: flex;
    align-items: center; /* centraliza horizontalmente */
    justify-content: space-around; /* cetraliza verticalmente */ 

	width: 350px;
	height: 90px;
}
#logo_icon{
	width: 60px;
    height: 60px;

	left: 34px;
    top: 24px;
}
#logo_text{
	font-size: 36px;
}
#login_butons{
	display: flex;
    align-items: center; /* centraliza horizontalmente */
    justify-content: space-around; /* cetraliza verticalmente */ 

	width: 180px;
	height: 90px;
}
.login_butons_itens{
	width:30px;
	height:30px;
}


/* ======= Nav: Promoções de destaque ======== */
#nav_promocoes{
	background-image: url(../images/ver_campanhas.png);
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	
	/* width: 1920px; */
	width: var(--largura-sections);
	height: 480px;
	
	border-radius: 10px 10px 10px 10px;
}
.side_button{
	margin-left: 10px;
	margin-right: 10px;


	width: 50px;
	height: 50px;
}
#bar_promocoes{
	background-color: rgba(6, 75, 181, 1);

	/* Organização de itens */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

	/* Margeem e borda */
	margin-top: 17px;
	margin-bottom: 17px;
	border-radius: 20px 20px 20px 20px;

	/* dimensões */
	width: var(--largura-sections);
	height: 180px;
}
.num_porcent{
	color: white;
	font-size: 25px;
}
#bar_promotion_txt{
	color: white;
	font-size: 36px;
}



/* ============= Produtos em destaque ============= */
#produtos_destaque{
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: var(--largura-sections);
	height: 400px;

	/* border: 10px solid red; */
}
#produtos_buttons{
	display: flex;
	flex-direction: row;
	align-items: center;

	position: relative;
	justify-content: space-between;



	/* border: 3px solid red; */
}
#container_text_Produtos_Destaque{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	background-color: rgba(6, 75, 181, 1);

	border-top-left-radius: 1030px;
    border-top-right-radius: 1030px;
    border-bottom-left-radius: 1030px;
    border-bottom-right-radius: 1030px;
	
	width: 300px;
    height: 50px;

	position: relative;
	left: 25px;

	/* border: 5px solid purple; */
}
#container_text_Ver_Mais{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	background-color: rgba(6, 75, 181, 1);

	border-top-left-radius: 1030px;
    border-top-right-radius: 1030px;
    border-bottom-left-radius: 1030px;
    border-bottom-right-radius: 1030px;
	
	width: 300px;
    height: 50px;

	position: relative;
	right: 5px;


}
.produtos_buttons_text{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 200px;
    height: 25px;
	color: white;
	font-size: 15px;
}
#lista_de_produtos{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.container_img_produto{
	display: flex;
	flex-direction: column;
	
	align-items: center;
	justify-content: center;
	
	--dimension_container_img_produto: 280px;
	width:  var(--dimension_container_img_produto);
	height: var(--dimension_container_img_produto);
	
	
	border: 2px solid black;
	border-radius: 20px;
}
.img_produto{
	width: 180px;
	height: 180px;
}
.preço_txt{
	color: black;
}
.list_itens_button{
	display: flex;
	align-items: center; /* centraliza horizontalmente */
    justify-content: space-evenly; /* cetraliza verticalmente */ 

	margin-top: 5px;
	margin-bottom: 5px;
}
.conteiner_itens_butons{
	background-color: var(--verde-destaque);	
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 25px;
	height: 25px;
}
.itens_butons{
	width: 18px;
	height: 18px;
}


/* ============= Barra de inscrição =========== */
#inscrição_barra{
	position: relative;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;

	background-color: rgba(242, 232, 207, 1);
    
	width: var(--largura-sections);
    height: 250px;
     
	margin-top: 80px;
}
#container_imageRight_inscBar{
	position: absolute;
	right: 0px;
	bottom: 0px;

	width: 250px;
	height: 250px;

	background-image: url(../images/illustration_pack_pet_shop__1__4.png);
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center;

	/* border: 1px solid red; */
}
#container_imageLeft_inscBar{
	position: absolute;
	left: 0px;
	bottom: 0px;

	width: 250px;
	height: 250px;
	background-image: url(../images/illustration_pack_pet_shop__1__4.png);
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center;

	/* border: 1px solid red; */
}
#continer_input_infos{
	border: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 20px;
	width: fit-content;

	/* border: 1px solid red; */
}
#container_button_emails{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	/* border: 1px solid red; */
}
#email_inscricao{
	margin: 10px;
	border-radius: 10px;
	padding: 10px;
	border: hidden;
	box-shadow: 2px 2px 2px gray;

	width: 200px;;
}
#inscrevase_button{
	margin: 10px;
	border-radius: 10px;
	padding: 10px;
	background-color: rgba(6, 75, 181, 1);
	color:rgba(242, 232, 207, 1);
	border: hidden;
	box-shadow: 2px 2px 2px gray;
}

/* ========== Barra de infos ============= */

#barra_de_infos{

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	background-color: var(--verde-destaque);	
	
	width: var(--largura-sections);
	height:200px;


}
#infos_e_sobre_nos{

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	position: relative;
	left: 0px;
	bottom: 0px;

	width:700px;
	height:200px;



	/* border: 1px solid red; */
}
#redes_sociais{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;


	position: relative;
	right: 0px;
	bottom: 0px;


	width:200px;
	height:200px;

	right: 0px;

	/* border: 1px solid red; */
}
.list_infos_sobrenos{
	
	display: flex;
	flex-direction: column;


	/* border: 1px solid blueviolet; */
}
.tittle_list_infos{
	color: rgba(74, 74, 74, 1);

	font-size: 25px;


}